In [1]:
import pandas as pd
import pandas_datareader.data as web

from datetime import date, timedelta, datetime

from bs4 import BeautifulSoup
import requests

df_main = pd.read_csv('https://squeezemetrics.com/monitor/static/DIX.csv',
                      names=['Date','SPX','DIX','GEX'], index_col='Date', parse_dates=['Date'], header=0)

start = datetime(2011,1,1)
end = datetime.today()

df_spy = web.DataReader(
    'SPY','yahoo', start, end).rename(columns={'Volume' : 'SPY Volume'})[['SPY Volume']]

df_uso = web.DataReader(
    'USO','yahoo', start, end).rename(columns={'Adj Close' : 'USO Price'})[['USO Price']]

df_gld = web.DataReader(
    'GLD','yahoo', start, end).rename(columns={'Adj Close' : 'GLD Price'})[['GLD Price']]

df_vix = pd.read_csv('http://www.cboe.com/publish/scheduledtask/mktdata/datahouse/vixcurrent.csv',
                     skiprows=1, index_col='Date',
                     parse_dates=['Date']).rename(columns={'VIX Close' : 'VIX'})[['VIX']]

c:\users\kit08484\appdata\local\programs\python\python38\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
# updates CBOE info
# requires CBOE-scrape-build.ipynb to be executed at least once before

df_cboe_base = pd.read_csv('CBOE-data.csv', index_col='Date', parse_dates=['Date'])
cboe_data_dict = {}

n = len(df_cboe_base)
last_known_date = df_cboe_base.index[n-1]

curr_date = last_known_date
delta = timedelta(days=1)

while curr_date <= end:
    
    y, m, d = curr_date.year, curr_date.month, curr_date.day
    print(f'Scraping date: {y}-{m:02}-{d:02}')
    
    url = f'https://markets.cboe.com/us/options/market_statistics/daily/?mkt=cone&dt={y}-{m}-{d}'
    html = requests.get(url).content
    soup = BeautifulSoup(html, 'html.parser')
    
    date_id = 'stats-date-header'
    date_string = soup.find(id=date_id).get_text()
    date_string = ' '.join(date_string.split(' ')[-3:])
    
    page_date = datetime.strptime(date_string, "%B %d, %Y")
    
    table_class = 'bats-table bats-table--left'
    tables = soup.findAll('table', {'class' : table_class})
    
    # to find the table indices
    # Summary: 0, VIX: 5, SPX + SPXW: 6
    summary_index, vix_index, spx_index = -1, -1, -1
    for i,t in enumerate(tables):
        s = str(t)
        if 'RATIOS' in s:
            summary_index = i
        elif 'CBOE VOLATILITY INDEX (VIX)' in s:
            vix_index = i
        elif 'SPX + SPXW' in s:
            spx_index = i
        if min([summary_index, vix_index, spx_index]) >= 0:
            break
    
    table_summary = tables[summary_index]
    table_vix = tables[vix_index]
    table_spx = tables[spx_index]
    
    df_summary = pd.read_html(str(table_summary))[0]
    df_vix_info = pd.read_html(str(table_vix), skiprows=1)[0]
    df_spx_info = pd.read_html(str(table_spx), skiprows=1)[0]
        
    vix_pc_ratio = df_summary.iloc[4,1]
    spx_pc_ratio = df_summary.iloc[5,1]
    
    vix_volume = df_vix_info.iloc[0,3]
    spx_volume = df_spx_info.iloc[0,3]
    
    cboe_data_dict[page_date] = [
        vix_pc_ratio,
        vix_volume,
        spx_pc_ratio,
        spx_volume
    ]
    
    curr_date += delta

df_cboe_new = pd.DataFrame.from_dict(
    cboe_data_dict,
    orient='index',
    columns=['VIX P/C Ratio', 'VIX Options Volume', 'SPX P/C Ratio', 'SPX Options Volume']
)

df_cboe_new.index.rename('Date', inplace=True)

df_cboe_full = pd.concat([df_cboe_base, df_cboe_new]).reset_index()
df_cboe_full = df_cboe_full.drop_duplicates(subset='Date').set_index('Date').sort_index()
df_cboe_full.to_csv('CBOE-data.csv')

df_cboe = pd.read_csv('CBOE-data.csv', index_col='Date', parse_dates=['Date'])

Scraping date: 2020-04-09
Scraping date: 2020-04-10
Scraping date: 2020-04-11
Scraping date: 2020-04-12
Scraping date: 2020-04-13
Scraping date: 2020-04-14

In [3]:
# get treasury info
url = 'https://www.treasury.gov/resource-center/data-chart-center/interest-rates/Pages/TextView.aspx?data=yieldAll'
html = requests.get(url).content
soup = BeautifulSoup(html, 'html.parser')

table = soup.find('table', {'class' : 't-chart'})
df_treasury = pd.read_html(str(table), index_col='Date', parse_dates=['Date'])[0]

treasury_rename = {col : f'TY {col}' for col in df_treasury.columns}
df_treasury.rename(columns = treasury_rename, inplace=True)

df_treasury = df_treasury[df_treasury.index >= start].dropna(axis=1)

In [4]:
df_main

                    SPX       DIX           GEX
Date
2011-05-02  1361.219971  0.378842  1.897313e+09
2011-05-03  1356.619995  0.383411  1.859731e+09
2011-05-04  1347.319946  0.392122  1.717764e+09
2011-05-05  1335.099976  0.405457  1.361864e+09
2011-05-06  1340.199951  0.418649  1.490329e+09
...                 ...       ...           ...
2020-04-06  2663.680000  0.446698  1.555165e+09
2020-04-07  2659.410000  0.482110  1.533925e+09
2020-04-08  2749.980000  0.501114  3.331833e+09
2020-04-09  2789.820000  0.488574  2.608413e+09
2020-04-13  2761.630000  0.493960  3.422978e+09

[2251 rows x 3 columns]

In [5]:
df_spy

             SPY Volume
Date
2011-01-03  138725200.0
2011-01-04  137409700.0
2011-01-05  133975300.0
2011-01-06  122519000.0
2011-01-07  156034600.0
...                 ...
2020-04-07  201427200.0
2020-04-08  153774500.0
2020-04-09  190282700.0
2020-04-13  114490800.0
2020-04-14   14501409.0

[2335 rows x 1 columns]

In [6]:
df_uso

            USO Price
Date
2011-01-03  39.049999
2011-01-04  38.080002
2011-01-05  38.520000
2011-01-06  37.680000
2011-01-07  37.669998
...               ...
2020-04-07   5.090000
2020-04-08   5.370000
2020-04-09   4.980000
2020-04-13   4.930000
2020-04-14   4.745000

[2335 rows x 1 columns]

In [7]:
df_gld

             GLD Price
Date
2011-01-03  138.000000
2011-01-04  134.750000
2011-01-05  134.369995
2011-01-06  133.830002
2011-01-07  133.580002
...                ...
2020-04-07  156.039993
2020-04-08  154.649994
2020-04-09  158.690002
2020-04-13  161.410004
2020-04-14  163.429993

[2335 rows x 1 columns]

In [8]:
df_treasury

,TY 1 mo,TY 3 mo,TY 6 mo,TY 1 yr,TY 2 yr,TY 3 yr,TY 5 yr,TY 7 yr,TY 10 yr,TY 20 yr,TY 30 yr
Date,,,,,,,,,,,
2011-01-03,0.11,0.15,0.19,0.29,0.61,1.03,2.02,2.74,3.36,4.18,4.39
2011-01-04,0.12,0.14,0.19,0.28,0.63,1.04,2.01,2.72,3.36,4.21,4.44
2011-01-05,0.13,0.14,0.19,0.31,0.71,1.16,2.14,2.86,3.50,4.34,4.55
2011-01-06,0.13,0.15,0.18,0.30,0.68,1.11,2.09,2.80,3.44,4.31,4.53
2011-01-07,0.13,0.14,0.18,0.29,0.60,1.02,1.96,2.69,3.34,4.25,4.48
...,...,...,...,...,...,...,...,...,...,...,...
2020-04-06,0.09,0.15,0.17,0.20,0.27,0.35,0.44,0.58,0.67,1.08,1.27
2020-04-07,0.10,0.14,0.20,0.20,0.28,0.36,0.48,0.64,0.75,1.13,1.32
2020-04-08,0.14,0.22,0.24,0.23,0.27,0.34,0.47,0.65,0.77,1.18,1.37
2020-04-09,0.20,0.25,0.24,0.25,0.23,0.29,0.41,0.60,0.73,1.15,1.35
2020-04-13,0.17,0.26,0.27,0.27,0.25,0.31,0.44,0.63,0.76,1.19,1.39

In [9]:
df_vix

              VIX
Date
2004-01-02  18.22
2004-01-05  17.49
2004-01-06  16.73
2004-01-07  15.50
2004-01-08  15.61
...           ...
2020-04-06  45.24
2020-04-07  46.70
2020-04-08  43.35
2020-04-09  41.67
2020-04-13  41.17

[4097 rows x 1 columns]

In [10]:
df_cboe

,VIX P/C Ratio,VIX Options Volume,SPX P/C Ratio,SPX Options Volume
Date,,,,
2010-07-07,0.79,184762,0.91,634363
2010-07-08,1.25,141024,1.12,531457
2010-07-09,0.56,196082,1.20,691937
2010-07-12,2.01,241936,1.49,704517
2010-07-13,0.97,159440,1.25,1172241
...,...,...,...,...
2020-04-06,1.14,536473,1.27,1421641
2020-04-07,1.67,380770,1.12,1315103
2020-04-08,1.11,325232,1.39,1262348
2020-04-09,0.81,439073,1.27,1418972
2020-04-13,0.95,314831,1.30,1007130

In [11]:
dfs_to_join = [
    df_spy,
    df_uso,
    df_gld,
    df_treasury,
    df_vix,
    df_cboe
]

df_final = df_main.join(dfs_to_join, how='left').sort_index()
df_final

,SPX,DIX,GEX,SPY Volume,USO Price,GLD Price,TY 1 mo,TY 3 mo,TY 6 mo,TY 1 yr,...,TY 5 yr,TY 7 yr,TY 10 yr,TY 20 yr,TY 30 yr,VIX,VIX P/C Ratio,VIX Options Volume,SPX P/C Ratio,SPX Options Volume
Date,,,,,,,,,,,,,,,,,,,,,
2011-05-02,1361.219971,0.378842,1.897313e+09,126278700.0,44.930000,150.410004,0.02,0.05,0.10,0.22,...,1.96,2.66,3.31,4.14,4.38,15.99,0.51,182366.0,1.38,567584.0
2011-05-03,1356.619995,0.383411,1.859731e+09,138375000.0,44.080002,149.880005,0.02,0.03,0.09,0.20,...,1.96,2.64,3.28,4.11,4.36,16.70,0.39,318780.0,1.84,540934.0
2011-05-04,1347.319946,0.392122,1.717764e+09,182678500.0,43.259998,147.729996,0.02,0.03,0.07,0.19,...,1.95,2.61,3.25,4.08,4.33,17.08,0.87,369293.0,2.08,432621.0
2011-05-05,1335.099976,0.405457,1.361864e+09,226900000.0,39.320000,143.470001,0.01,0.02,0.07,0.20,...,1.88,2.54,3.18,4.00,4.26,18.20,1.36,446203.0,1.94,601038.0
2011-05-06,1340.199951,0.418649,1.490329e+09,222787200.0,38.869999,145.300003,0.02,0.02,0.07,0.18,...,1.87,2.54,3.19,4.03,4.29,18.40,0.41,382407.0,1.85,601669.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-06,2663.680000,0.446698,1.555165e+09,188061200.0,5.480000,156.880005,0.09,0.15,0.17,0.20,...,0.44,0.58,0.67,1.08,1.27,45.24,1.14,536473.0,1.27,1421641.0
2020-04-07,2659.410000,0.482110,1.533925e+09,201427200.0,5.090000,156.039993,0.10,0.14,0.20,0.20,...,0.48,0.64,0.75,1.13,1.32,46.70,1.67,380770.0,1.12,1315103.0
2020-04-08,2749.980000,0.501114,3.331833e+09,153774500.0,5.370000,154.649994,0.14,0.22,0.24,0.23,...,0.47,0.65,0.77,1.18,1.37,43.35,1.11,325232.0,1.39,1262348.0
2020-04-09,2789.820000,0.488574,2.608413e+09,190282700.0,4.980000,158.690002,0.20,0.25,0.24,0.25,...,0.41,0.60,0.73,1.15,1.35,41.67,0.81,439073.0,1.27,1418972.0
2020-04-13,2761.630000,0.493960,3.422978e+09,114490800.0,4.930000,161.410004,0.17,0.26,0.27,0.27,...,0.44,0.63,0.76,1.19,1.39,41.17,0.95,314831.0,1.30,1007130.0

In [12]:
df_final.to_csv('dataset.csv')

In [13]:
df_final.describe()

,SPX,DIX,GEX,SPY Volume,USO Price,GLD Price,TY 1 mo,TY 3 mo,TY 6 mo,TY 1 yr,...,TY 5 yr,TY 7 yr,TY 10 yr,TY 20 yr,TY 30 yr,VIX,VIX P/C Ratio,VIX Options Volume,SPX P/C Ratio,SPX Options Volume
count,2251.000000,2251.000000,2.251000e+03,2.251000e+03,2251.000000,2251.000000,2234.000000,2234.000000,2234.000000,2234.000000,...,2234.000000,2234.000000,2234.000000,2234.000000,2234.000000,2251.000000,2251.000000,2.251000e+03,2251.000000,2.251000e+03
mean,2110.910297,0.419626,2.180254e+09,1.171985e+08,21.745957,130.882959,0.619315,0.655962,0.733151,0.817167,...,1.583308,1.927372,2.241209,2.707243,2.977686,16.683016,0.508903,5.769721e+05,1.742443,1.059653e+06
std,558.412153,0.027776,1.632390e+09,6.884518e+07,11.625650,18.528789,0.813688,0.829858,0.842033,0.842661,...,0.602544,0.522543,0.471629,0.491393,0.486524,7.118057,0.294143,3.549070e+05,0.370808,4.125078e+05
min,1099.229980,0.330555,-2.958423e+09,2.027000e+07,4.210000,100.500000,0.000000,0.000000,0.020000,0.080000,...,0.370000,0.510000,0.540000,0.870000,0.990000,9.140000,0.070000,4.135500e+04,0.810000,2.234330e+05
25%,1659.420044,0.400926,1.157110e+09,7.121405e+07,11.400000,117.870003,0.030000,0.040000,0.080000,0.150000,...,1.170000,1.510000,1.880000,2.410000,2.740000,12.835000,0.320000,3.541120e+05,1.480000,7.591975e+05
50%,2075.810059,0.419258,2.121601e+09,9.914180e+07,14.820000,124.279999,0.110000,0.110000,0.220000,0.360000,...,1.580000,1.980000,2.230000,2.700000,2.990000,14.770000,0.440000,4.936150e+05,1.720000,9.938820e+05
75%,2598.055000,0.437429,3.112933e+09,1.428548e+08,34.414999,143.724998,1.160000,1.290000,1.450000,1.490000,...,1.840000,2.240000,2.610000,2.977500,3.177500,18.060000,0.610000,6.894305e+05,1.970000,1.285228e+06
max,3386.120000,0.513793,1.156640e+10,7.178287e+08,44.930000,184.589996,2.510000,2.490000,2.580000,2.740000,...,3.090000,3.180000,3.310000,4.140000,4.400000,82.690000,3.090000,4.336057e+06,3.770000,3.593415e+06